./BUILD*
./.github
./.git
./windows
./docs
./tlRender
Doxyfile
Dockerfile
CMakeCache.txt
*CMakeFiles*
build.ninja
*ninja_log
./Qt5
./Qt6
./packages
*.png
*.jpg
*.deb
*.rpm
*.tar.gz
*.zip
*.a
*.so*
*.lib
*.dll
*.exe
