# Prerequisites
  *.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
# *.dylib  # We distribute precompiled libintl for macOS

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# Directories and backup files
BUILD-*
*-vulkan*
Qt5
Qt6
packages
doc/doxygen
talks/
examples/mrv2
*__pycache__
docs/Doxygen
mrv2/bin/environment.sh
mrv2/share/locale
mrv2/po/messages.pot
docs/sphinx/doctrees
docs/sphinx/*/_images
docs/sphinx/*/_sources
docs/sphinx/*/conf.py
docs/sphinx/*/document.py
packages*
releases*
talks*
*#
*~
.git
.DS_Store

#
# Project files
#
stargazers*
*.log

#
# Git files
#
.githooks/*
docs/codesign_macOS/package.cmake
docs/codesign_macOS/package2.cmake
helpers/compare_dirs.sh
src/bin/set_usd_env.sh
src/bin/set_usd_python_env.sh
src/etc/Linux/packaging/vlc_snapcraft.yaml
src/etc/Linux/packaging/snap/snapcraft.yaml
src/etc/Linux/packaging/snap/gui/mrv2.desktop
src/etc/Linux/packaging/snap/gui/mrv2.png
src/lib/mrvWidgets/mrViewer.new.fl.txt
