# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
# *.dylib  # We distribute precompiled libintl for macOS

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# Directories and backup files
BUILD-*
tlRender/build*
tlRender/debug_tests
Qt5
Qt6
packages
Debug
Release
RelWithDebInfo
doc/doxygen
examples/mrv2
docs/Doxygen
mrv2/python/plug-ins/__pycache__
mrv2/bin/environment.sh
mrv2/share/locale
docs/sphinx/doctrees
docs/sphinx/*/_sources
docs/sphinx/*/conf.py
docs/sphinx/*/document.py
packages
*#
*~
.git
