#
# Add this so clang-format is run automatically before each commit.
#
[core]
	hooksPath = .githooks/

#
# Copy this setting to your .git/config file to allow diffing .po and .pot
# files without getting distracted by the filename and line number
#
# The filter setting makes it so that the .po and .pot comments are not
# stored in the repository.
#

[diff "podiff"]
      textconv = msgcat --no-location --no-wrap --sort-output

[filter "po"]
	clean = .githooks/clean-po.sh %f

