*.txt text
*.md  text
*.sh  text
*.cpp text
*.h   text
*.rb  text
*.lib -text
*.dll -text
*.mov -text
*.rb  linguist-language=Ruby
*.py  linguist-language=Python
*.sh  libguist-language=bash
*.cpp linguist-language=C++
*.h   linguist-language=C++
windows/win32/include/*.h linguist-language=C
windows/win32/include/libavcodec/*.h linguist-language=C
windows/win32/include/libavdevice/*.h linguist-language=C
windows/win32/include/libavfilter/*.h linguist-language=C
windows/win32/include/libavformat/*.h linguist-language=C
windows/win32/include/libavutil/*.h linguist-language=C
windows/win32/include/libswresample/*.h linguist-language=C
windows/win32/include/libswscale/*.h linguist-language=C
windows/win32/include/libswresample/*.h linguist-language=C
windows/win64/include/*.h linguist-language=C
windows/win64/include/libavcodec/*.h linguist-language=C
windows/win64/include/libavdevice/*.h linguist-language=C
windows/win64/include/libavfilter/*.h linguist-language=C
windows/win64/include/libavformat/*.h linguist-language=C
windows/win64/include/libavutil/*.h linguist-language=C
windows/win64/include/libswresample/*.h linguist-language=C
windows/win64/include/libswscale/*.h linguist-language=C
windows/win64/include/libswresample/*.h linguist-language=C
