*.txt text
*.md  text
*.sh  text
*.cpp text
*.h   text
*.rb  text
*.lib -text
*.dll -text
*.mov -text
*.rb  linguist-language=Ruby
*.py  linguist-language=Python
*.sh  libguist-language=bash
*.cpp linguist-language=C++
*.h   linguist-language=C++
