# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# Directories and backup files
BUILD-*
Qt5
Qt6
packages
Debug
Release
RelWithDebInfo
doc/doxygen
examples/mrv2
mrv2/share/locale
docs/sphinx/doctrees
docs/sphinx/*/_sources
docs/sphinx/*/conf.py
docs/sphinx/*/document.py
packages
*#
*~
.git
.vscode
