alabaster
babel
chardet
click
colorama
cusparselt
docutils
filelock
flk14
fsspec
huggingface-hub
imagesize
Jinja
jinja2
Jinja2
joblib
libretranslatepy
lxml
MarkupSafe
meson
mpmath
numpy
nvidia
nvidia_cublas_cu12
nvidia_cuda_cupti_cu12
nvidia_cuda_nvrtc_cu12
nvidia_cuda_runtime_cu12
nvidia_cudnn_cu12
nvidia_cufft_cu12
nvidia_curand_cu12
nvidia_cusolver_cu12
nvidia_cusparse_cu12
nvidia_cusparselt_cu12
nvidia_nccl_cu12
nvidia_nvjitlink_cu12
nvidia_nvtx_cu12
networkx
packaging
pillow
PIL
polib
pyyaml
pyYAML
pygments
Pygments
regex
sacremoses
safetensors
sentencepiece
snowballstemmer
sphinx
sphinx_rtd_theme
sphinxcontrib-jquery
sympy
tokenizers
torchaudio
torch
torchvision
transformers
translate
triton
typing-extensions
tqdm
unittest
