alabaster
babel
click
colorama
cusparselt
docutils
filelock
fsspec
huggingface-hub
imagesize
Jinja
joblib
libretranslatepy
lxml
MarkupSafe
meson
mpmath
numpy
nvidia
networkx
pillow
PIL
polib
pyyaml
pyYAML
pygments
Pygments
pytz
regex
sacremoses
safetensors
sentencepiece
snowballstemmer
sphinx
sphinx_rtd_theme
sympy
tokenizers
torch
transformers
translate
typing-extension
tqdm
unittest
urllib3
