polib
mpmath
libretranslatepy
typing-extensions
tqdm
sympy
safetensors
regex
pyyaml
numpy
networkx
lxml
joblib
fsspec
filelock
click
translate
torch
sacremoses
huggingface-hub
tokenizers
transformers
