name: Quick Vulkan Win64

on:
  push:
    branches-ignore:
      - beta
    tags-ignore:
      - '**'
      
jobs:
  ###################################
  #                                 #
  # FULL BUILDS                     #
  #                                 #
  ###################################
  windows-vulkan-quick-build:
    runs-on: windows-2022

    defaults:
      run:
        shell: msys2 {0}

    steps:

    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Setup environment
      uses: ilammy/msvc-dev-cmd@v1

    - name: Install Visual C++ Redistributable 2022
      run: |
        $vc_redist_url_2022 = "https://aka.ms/vs/17/release/vc_redist.x64.exe"
        Invoke-WebRequest -Uri $vc_redist_url_2022 -OutFile vc_redist_2022.x64.exe
        Start-Process vc_redist_2022.x64.exe -ArgumentList "/install", "/quiet", "/norestart" -Wait
      shell: powershell
      
    # - name: Install specific MSVC toolset (in case build breaks)
    #   shell: powershell
    #   run: |
    #     Invoke-WebRequest `
    #     -Uri https://aka.ms/vs/17/release/vs_BuildTools.exe `
    #     -OutFile vs_BuildTools.exe
        
    #     Start-Process .\vs_BuildTools.exe `
    #     -ArgumentList `
    #     "--quiet", "--wait",
    #     "--add Microsoft.VisualStudio.Component.VC.Tools.x86.x64",
    #     "--includeRecommended",
    #     "--installPath C:\VS2022Custom" `
    #     -NoNewWindow -Wait- name: Activate MSVC

    # - name: Activate MSVC
    #   uses: ilammy/msvc-dev-cmd@v1
    #   with:
    #     path: 'C:\VS2022Custom'
      
    - name: Synchronize clock
      shell: cmd
      run: |
        w32tm /config /manualpeerlist:time.windows.com /syncfromflags:manual /reliable:YES /update
        net stop w32time
        net start w32time
        w32tm /resync /rediscover
            
    - name: Setup MSYS
      uses: msys2/setup-msys2@v2
      with:
        update: true
        path-type: inherit
        
    - name: Get machine name
      run: |
        echo "Machine name: $RUNNER_NAME"
    
    # Install Vulkan SDK
    - name: Install Vulkan SDK
      run: |

        . ./etc/windows/install_vulkan.sh
        
        # Persist environment variables for subsequent steps
        echo "VULKAN_SDK=$VULKAN_SDK" >> $GITHUB_ENV
        echo "${VULKAN_SDK}/bin" >> $GITHUB_PATH

    - name: Setup environment
      run: mkdir -p ssh
      
    - name: Decode SSH key
      run: echo "${{ secrets.SSH_PRIVATE_KEY }}" | base64 -d > ssh/id_rsa
      shell: bash
        
    - name: Decode FLTK SSH key
      shell: bash
      run: |
         mkdir -p ~/.ssh
         echo "${{ secrets.FLTK_DEPLOY_KEY }}" > ~/.ssh/id_ed25519
         chmod 600 ~/.ssh/id_ed25519
         ssh-keyscan github.com >> ~/.ssh/known_hosts      
          
    - name: Set permissions on SSH key
      shell: cmd
      run: |
        icacls "ssh\id_rsa" /inheritance:r /grant:r "%USERNAME%:R"
        
    - name: Add SourceForge to known_hosts
      shell: bash
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan frs.sourceforge.net >> ~/.ssh/known_hosts
      
    - name: Set executable permissions
      run: |
        chmod +x ./*.sh ./bin/*.sh ./etc/*.sh ./bin/release/*.sh
        
    - name: Install MSYS2 Dependencies
      run: |
        pacman -S --noconfirm rsync
      
    - name: Build vmrv2
      env:
        BUILD_PYTHON: OFF
        MRV2_CPPTRACE: OFF
        MRV2_PYFLTK: OFF
        MRV2_PYBIND11: OFF
        MRV2_NETWORK: ON
        MRV2_PDF: OFF
        TLRENDER_AV1: OFF
        TLRENDER_EXR: ON
        TLRENDER_FFMPEG: ON
        TLRENDER_FFMPEG_MINIMAL: ON
        TLRENDER_HAP: OFF
        TLRENDER_JPEG: OFF
        TLRENDER_LIBPLACEBO: OFF
        TLRENDER_NDI: OFF
        TLRENDER_NET: ON
        TLRENDER_OPENJPH: ON
        TLRENDER_RAW: OFF
        TLRENDER_SGI: OFF
        TLRENDER_STB: OFF
        TLRENDER_SVTAV1: OFF
        TLRENDER_TIFF: OFF
        TLRENDER_USD: OFF
        TLRENDER_VPX: OFF
        
      run: |
        ./etc/runme_nolog.sh -v -t package -vk clean
        
    - name: Upload binaries 
      run: |
        ./bin/release/upload_sourceforge.sh -vk
    
    # - name: Upload Beta Release
    #   uses: softprops/action-gh-release@v2
    #   with:
    #     tag_name: betas
    #     name: Betas Builds
    #     body: |
    #       Latest beta build - auto-updated.
    #       Built on: ${{ github.event.head_commit.message }}
    #     prerelease: true
    #     files: |
    #       packages/Windows-vulkan-amd64/Release/vmrv2-beta-Windows-amd64.exe
    #       packages/Windows-vulkan-amd64/Release/vmrv2-beta-Windows-amd64.zip
    #     overwrite_files: true   # THIS IS KEY
    #     token: ${{ secrets.GITHUB_TOKEN }}
