name: Vulkan MacOS M1

on:
  push:
    branches-ignore:
      - beta
    tags-ignore:
      - '**'

jobs:
  ###################################
  #                                 #
  # FULL BUILDS                     #
  #                                 #
  ###################################
  macos-14-vulkan-full-build:
    runs-on: macos-14
    permissions:
      contents: write   # Needed to update releases

    env:
      CMAKE_OSX_DEPLOYMENT_TARGET: 14.0
      
    steps:
    
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Get machine name
      run: |
        echo "Machine name: $RUNNER_NAME"

    - name: Install ninja-build
      run: brew install ninja
      
    - name: Install automake
      run: brew install automake curl rsync

    - name: Install GNU sed
      run: brew install gnu-sed
      
    - name: Install Python dependencies
      run: brew install libb2 libffi readline sqlite3 xz zlib
        
    - name: Install pyFLTK dependencies
      run: brew install swig

    # Install Vulkan SDK manually
    - name: Install Vulkan
      env:
        BUILD_VULKAN: OFF
      shell: bash
      run: |
        
        if [[ "$BUILD_VULKAN" == "ON" ]]; then
            ./etc/macos/install_vulkan.sh
            
            echo "VULKAN_SDK=$VULKAN_SDK" >> $GITHUB_ENV
            echo "${VULKAN_SDK}/bin" >> $GITHUB_PATH
            echo "VK_LAYER_PATH=$VULKAN_SDK/lib" >> $GITHUB_ENV
        else
            brew install vulkan-loader
            brew install molten-vk
            brew install vulkan-tools
            brew install shaderc
            brew install glslang
            brew install vulkan-profiles
            brew install spirv-tools
            brew link --overwrite molten-vk
        fi
        
    # # Verify Vulkan installation
    # - name: Verify Vulkan
    #   run: |
    #     export VK_LAYER_DEBUG=all
    #     vulkaninfo --summary
        
    - name: Setup environment
      run: mkdir -p ssh

    - name: Decode SSH key
      run: echo "${{ secrets.SSH_PRIVATE_KEY }}" | base64 -d > ssh/id_rsa
      shell: bash
  
    - name: Set permissions on SSH key
      run: chmod 600 ssh/id_rsa

    - name: Decode FLTK SSH key
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.FLTK_DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
      
    - name: Add SourceForge to known_hosts
      shell: bash
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan frs.sourceforge.net >> ~/.ssh/known_hosts

    - name: Set executable permissions
      run: |
        chmod +x ./*.sh ./bin/*.sh ./etc/*.sh ./bin/release/*.sh
        
    - name: List disk space
      run: |
        df -k

    - name: Build vmrv2
      env:
        BUILD_PYTHON: ON
        MRV2_PYFLTK: ON
        MRV2_PYBIND11: ON
        MRV2_NETWORK: ON
        MRV2_PDF: ON
        TLRENDER_AV1: ON
        TLRENDER_EXR: ON
        TLRENDER_FFMPEG: ON
        TLRENDER_FFMPEG_MINIMAL: ON
        TLRENDER_GL: OFF
        TLRENDER_HAP: ON
        TLRENDER_JPEG: ON
        TLRENDER_NDI: OFF
        TLRENDER_NET: ON
        TLRENDER_OPENJPH: ON
        TLRENDER_RAW: ON
        TLRENDER_SGI: ON
        TLRENDER_STB: ON
        TLRENDER_SVTAV1: ON
        TLRENDER_TIFF: ON
        TLRENDER_USD: OFF
        TLRENDER_VPX: ON
        TLRENDER_YASM: ON
        
      run: |
        ./etc/runme_nolog.sh -t package -vk clean

    - name: Upload binaries
      run: |
        ./bin/release/upload_sourceforge.sh -vk

    # - name: Upload Beta Release
    #   uses: softprops/action-gh-release@v2
    #   with:
    #     tag_name: betas
    #     name: Betas Builds
    #     body: |
    #       Latest beta build - auto-updated.
    #       Built on: ${{ github.event.head_commit.message }}
    #     prerelease: true
    #     files: |
    #       packages/Darwin-vulkan-arm64/Release/vmrv2-beta-Darwin-arm64.dmg
    #     overwrite_files: true   # THIS IS KEY
    #     token: ${{ secrets.GITHUB_TOKEN }}
